<html>

    <h2> Customer Pay Methods </h2> 

    <h3> View Pay Methods </h3>

    {{#unless customerID}}
        <p style="color: red; margin-left: 1%;"> To View CustomerPayMethods - Click "View Pay Methods" Button In Customers Page </p>
    {{/unless}}

    <div class="form-wrapper">

        <label for="customerID">Customer ID</label>
        <br>
        <input disabled type="text" id="customerID" name="customerID" placeholder={{customerID}}>
        <br>

        <table class="query-output-table">

        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Card Type</th>
                <th>Last 4 Digits</th>
                <th>Expiration Date</th>
                <th style="border:0;"> Options </th>
            </tr>
        
        <tbody>
            {{#each customerPayMethods}}
            <tr> 
                <td> {{pay_method_id}} </td>
                <td> {{card_type}}</td>
                <td> {{last_four_digits}}</td>
                <td> {{expiration_date}} </td> 
                <td class="query-update-options" style="border:0;"> 

                <button disabled> Remove Payment Method </button>

                </td>
            </tr>
            {{/each}}
        </tbody>

        </table>
    </div>
    
</html>
