
<h2> Order Items </h2> 

<h3> View Order Items </h3>

    {{#unless orderItems}}
        {{#if alertMessage}}
            <h4 style="margin-left: 1%;">{{alertMessage}}</h4> 
        {{/if}}
    {{/unless}}

    <div class="form-wrapper">

        <div style="display: inline;">
            <label for="orderItemsOrderId">Order ID</label>
            <input type="number" id="orderItemsOrderId" name="orderItemsOrderId" value="" disabled>
        </div>

        <div style="display: inline; margin-left: 1%;"> 
            <label for="orderItemsCustomerId"> Customer ID</label>
            <input type="number" id="orderItemsCustomerId" name="orderItemsCustomerId" value="" disabled>
        </div> 

        <br>

        <br>

        <table class="query-output-table">
        <thead>
            <tr>
                <th> Product ID </th>
                <th> Product Name </th>
                <th> Color </th>
                <th> Weight (lbs)</th>
                <th> Cubic Inches </th>
                <th> Price </th>  
                <th style="border:0;"></th>
            </tr>
        </thead>
        
        <tbody>
            {{#each orderItems}}
            <tr>
                <td>{{product_id}}</td> 
                <td>{{product_name}}</td>
                <td>{{color}}</td>
                <td>{{weight_lbs}}</td>
                <td>{{volume_cubic_inches}}</td>
                <td>{{price}}</td>  
                <td>
                    <div class="query-update-options">
                    <form class="query-update-form">
                        <button style="color: red;">Remove</button>
                    </form>
                    </div>
                </td> 
            </tr>
            {{/each}}
        </tbody>
        </table>

        <h4> Finalize Order </h4>

        <select type="select" id="orderItemsPaymentSelector" name="orderItemsPaymentSelector">
            <option value="default"> -- Select Pay Method -- </option>
            {{#each paymethods}}
                <option value={{pay_method_id}}> Card ending in: {{last_four_digits}} {{expiration_date}} </option>
            {{/each}}
        </select>

        <br>
        <br>
        <button onclick="onClickSubmitOrder()"> Submit Order </button>
        <br>
    </div>

<h3> Add Order Item </h3>
    <div class="form-wrapper">
        <form class="orderitem-add-item-form" id="addOrderItemForm" style="padding-bottom: 1%;"> 

            <select onchange="" type="select" id="select-item-name" name="select-item-name" class="orderitem-item-selector">
                <option value="default" selected>Product Catalog</option>
                {{#each products}}
                    <option value={{product_id}}>{{product_name}}</option>
                {{/each}}
            </select>

            <div style="display: inline; margin-right: 2%; margin-left: 2%;">
                <label for="pricePerUnit">Price Per Unit: </label>
                <span id="pricePerUnit">{{price}}</span>
            </div>

            <div style="display: inline; margin-right: 2%;">
                <input style="margin-right: 2%;" type="number" id="itemQuantity" name="itemQuantity" class="orderitem-item-qty-input" placeholder="Quantity" onchange="onChangeProductQuantity()">
                <label style="margin-right: 2%;" for="orderItemSubtotal">Subtotal: </label>
                <span style="margin-right: 1%;" id="orderItemSubtotal">{{subtotal}}</span>
            </div>

            <br>
            <br>
            
            <button style="float: left; margin-bottom: 2%;" onclick="onClickAddToOrder()"> Add To Order </button> 
        
        </form>
    </div>