
<h2> Order Items </h2> 

<h3> View Order Items </h3>

    {{#unless orderItems}}
        {{#if alertMessage}}
            <h4 style="color: red; margin-left: 1%;">{{alertMessage}}</h4> 
        {{/if}}
    {{/unless}}

    <div class="form-wrapper">

        <div style="display: inline;">
            <label for="orderItemsOrderId">Order ID</label>
            <input type="number" id="orderItemsOrderId" name="orderItemsOrderId" value={{order_id}} disabled>
        </div>

        <div style="display: inline; margin-left: 1%;"> 
            <label for="orderItemsCustomerId"> Customer ID</label>
            <input type="number" id="orderItemsCustomerId" name="orderItemsCustomerId" value={{customer_id}} disabled>
        </div> 

        <br>

        <br>

        <table class="query-output-table">
        <thead>
            <tr>
                <th> Product ID </th>
                <th> Product Name </th>
                <th> Color </th>
                <th> Weight (lbs)</th>
                <th> Cubic Inches </th>
                <th> Price </th>  
                <th style="border:0;"></th>
            </tr>
        </thead>
        
        <tbody>
            {{#each orderItems}}
            <tr>
                <td>{{product_id}}</td> 
                <td>{{product_name}}</td>
                <td>{{color}}</td>
                <td>{{weight_lbs}}</td>
                <td>{{volume_cubic_inches}}</td>
                <td>{{price}}</td>  
                <td>
                    <div class="query-update-options">

                    <button style="color: red;" onclick="onClickRemoveOrderItem({{order_line_id}})">Remove</button>

                    </div>
                </td> 
            </tr>
            {{/each}}
        </tbody>
        </table>

        <h4> Add Order Item </h4>

        <div class="orderitem-add-item-form" id="addOrderItems" style="padding-bottom: 1%;"> 

            <select type="select" id="selectProduct" name="selectProduct" class="orderitem-item-selector">
            
                <option value="default" selected>Product Catalog</option>
            
                {{#each products}}
                    <option value={{product_id}}>{{product_name}} Color: {{color}} Price Per Unit: ${{price}} In Stock: {{in_stock_qty}} </option>
                {{/each}}
            
            </select>

            <br>
            <br>
            
            <button style="float: left; margin-bottom: 2%;" onclick="onClickAddToOrder()"> Add To Order </button> 
        </div>
    </div>

    <div class="form-wrapper">
    <h3> Finalize Order </h3>

    <div id="finalizeOrder">
        <select type="select" id="orderItemsPaymentSelector" name="orderItemsPaymentSelector">
        <option value="default"> -- Select Pay Method -- </option>
        {{#each paymethods}}
            <option value={{pay_method_id}}> {{card_type}} Ending In: {{last_four_digits}} Expires: {{expiration_date}} </option>
        {{/each}}
        </select>

        <br>
        <br>
        <button onclick="onClickSubmitOrder()"> Submit Order </button>
        <br>
    </div>