<!DOCTYPE html>
<html lang="en">

  <h2> Orders </h2>

  <h3> Create Order </h3>

    <div class="form-wrapper">

      <form class="insert-row-form" id="orderCreateForm" action="/Orders" method="post">
          <label for="newOrderCustomerID"> Customer ID </label>
          <br>
          <input type="text" id="newOrderCustomerID" name="newOrderCustomerID" value="{{customer_id}}">
          <br>
          <br>
          <input type="submit" value="Create Order">
      </form>

    </div>

  <h3> Search Orders </h3>

  <div class="form-wrapper">

    <h4> Search By Order ID </h4>

    <form class="search-by-form" id="searchOrderID" action="/Orders/SearchOrderID/" method="get">
      <input type="text" id="inputOrderId" name="inputOrderId" placeholder="Order ID">
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>

    <div class="sub-form-seperator"> </div>

    <h4> Search By Status/CustomerID </h4>
    
      <form class="search-by-form">
        
        <label for="search-by-status"> Search By: </label>
        
        <select type="select" id="search-by-status" name="search-by-status">
          <option value="defaut">All</option>
          <option value="open">Open</option>
          <option value="active">Active</option>
          <option value="processed">Processed</option>
          <option value="packaged">Packaged</option>
          <option value="shipped">Shipped</option>
          <option value="closed">Closed</option>
        </select>

        <input type="checkbox" id="allow-search-by-cust-id" name="allow-search-by-cust-id">
        
        <input type="text" id="customer-id" name="customer-id" value="Customer ID" disabled>

        <div class="search-sort-options">

          <h5> Order By </h5>

          <input type="checkbox" id="order-by-date" name="order-by-date" value="order_by_date">
          <label for="order-by-date">Most Recent</label>

          <input type="checkbox" id="order-by-customer-id" name="order-by-customer-id" value="order_by_customer_id">
          <label for="order-by-customer-id">Item Count</label>

        </div>

        <input type="submit" value="Submit">

      </form>

    <h4> Search Results </h4>

    <table class="query-output-table">

      <thead>
        <tr>
          <th> Order ID </th>
          <th> Customer ID </th>
          <th> Customer Name </th>
          <th> Datetime Created </th>
          <th> Order Status </th>
          <th style="border:0;"> Order Options</th>
        </tr>
      
      <tbody>
        
        {{#each orders}}
        <tr> 
          <td id="orderId"> {{order_id}} </td>
          <td> {{customer_id}} </td>
          <td> {{first_name}} {{last_name}} </td> 
          <td> {{when_created}}</td>
          <td> {{order_status}}</td>
          <td class="query-update-options" style="border:0;"> 

              <select id="selectStatus" name="selectStatus" class="order-status-selector" onchange="onChangeOrderStatus({{order_id}})">
                <option value="default">Set Status</option>
                <option value="open">Open</option>
                <option value="active">Active</option>
                <option value="processed">Processed</option>
                <option value="packaged">Packaged</option>
                <option value="shipped">Shipped</option>
                <option value="closed">Closed</option>
              </select>
              
              <br>
              <br>
              <button class="order-edit-items-button" id="editOrderItems" onclick="onClickEditOrderItems({{order_id}}, {{customer_id}})">Edit Items</button>
              <br>
              <br>
              <button class="order-delete-button" id="deleteOrder" onclick="onClickDeleteOrder({{order_id}})">Delete Order</button>
          </td>
        </tr>
        {{/each}}



      </tbody>

    </table>
  </div>
</html>