<!DOCTYPE html>
<html lang="en">
 
 <h3>Create Payment Method</h3>

    <div class='form-wrapper'>

      <form class='insert-row-form'  id="insert-pay-method" action="/PayMethods" method="post">
      
        <label for="customerID">Customer ID</label>
        <br>
        <input type="text" id="customerID" name="customerID" value="{{customer_id}}" required/>
        <br />
        <br />

        <label for="firstName">First Name</label>
        <br>
        <input type="text" id="firstName" name="firstName" value="{{first_name}}" required />
        <br />
        <br />
        
        <label for="lastName">Last Name</label>
        <br>
        <input type="text" id="lastName" name="lastName" value="{{last_name}}" required />
        <br />
        <br />

        <label for="cardType">Card Type</label>
        <br>
        <input type="text" id="cardType" name="cardType" value="{{card_type}}" required />
        <br />
        <br />
        
        <label for="lastFourDigits">Card Number</label>
        <br>
        <input type="number" id="lastFourDigits" name="lastFourDigits" value="{{last_four_digits}}" required />
        <br />
        <br />

        <label for="expirationDate">Expiration Date</label>
        <br>
        <input type="month" id="expirationDate" name="expirationDate"  value="{{expiration_date}}" min="2022-04" placeholder="YYYY-MM"/>
        <br />
        <br />

        <select type="select" id="selectAddress" name="selectAddress" value="Select Address">
          {{#each addresses}}

          {{/each}}
        </select>
        <br>
        <br>
        
        <label for="checkboxNewAddressFields">Create New Billing Address</label>
        <input 
          type="checkbox"  
          id="checkboxNewAddressFields" 
          name="checkboxNewAddressFields" 
          onclick="toggleNewAddressFields()"
        /> 
        <br />
        <br />

        <div class="newAddressFieldsContainer" id="newAddressFieldsContainer" hidden>

          <h4> Billing Address </h4>
          
          <label for="address1">Address 1:</label>
          <br />
          <input type="text" id="address1" name="address1"/>
          <br />
          <br />
          
          <label for="address2">Address 2</label>
          <br />
          <input type="text" id="address2" name="address2" />
          <br />
          <br />
          
          <label for="city">City:</label>
          <br />
          <input type="text" id="city" name="city" />
          <br />
          <br />
          
          <label for="state">State:</label>
          <br />
          <input type="text" id="state" name="state" />
          <br />
          <br />
          
          <label for="zipcode">Zip Code:</label>
          <br />
          <input type="text" id="zipcode" name="zipcode" />
          <br />
          <br />

          <label for="country">Country:</label>
          <br />
          <input type="text" id="country" name="country" />
          <br />
          <br />

        </div>

        <input type="submit" value="Create Pay Method" />
        <br /> 
      </form>
    </div>

    <h3>Search for Payment Method</h3>
      
      <div class="form-wrapper">

        <h4> Search By Payment ID </h4>

        <form class="search-by-form">

          <input
            type="number"
            id="searchPayMethodID"
            name="searchPayMethodID"
            placeholder="Payment ID"
          />
        
          <br>
          <br>

          <input type="button" value="Search" onclick="searchPayMethodByID()" />
          <br />
    
        </form>

      <div class="sub-form-seperator"></div>

        <h4> Search By Customer ID </h4>

        <form class="search-by-form">
          <input
            type="number"
            id="searchCustomerID"
            name="searchCustomerID"
            placeholder="Customer ID"
          />
          <br>
          <br>

          <input type="button" value="Search" onclick="searchPayMethodsByCustomerID()" />
          <br />
        </form>

        <div class="sub-form-seperator"> </div>

        <h4> Search Results </h4>

          <table class="query-output-table">

            <thead>
              <tr>
                <th>Payment ID</th>
                <th>Cardholder Name</th> 
                <th>Card Type</th>
                <th>Last 4 Digits</th>
                <th>Expiration Date</th>
                <th style="border:0;"> Options </th>
              </tr>
            
            <tbody>
              {{#each paymethods}}
              <tr> 
                <td> {{id}} </td>
                <td> {{first_name}} {{last_name}}</td>
                <td> {{card_type}} </td>
                <td> {{last_four_digits}} </td> 
                <td> {{expiration_date}} </td>

                <td class="query-update-options" style="border:0;"> 
                  <form class="query-update-form">
                    <button> View Orders </button>
                    <br>
                    <button> View Transactions </button>
                  </form>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
    </div>

</html>