<html>
      <h2> Transactions </h2>

      <h3> View Transaction(s)</h3>

      <div class="form-wrapper">

          <h4>By Transaction ID</h4>
          <input type="text" id="transactionID" name="transactionID" disabled>
          <br>
          <br>
          <button style="margin-bottom: 1%;" type="submit" value="Submit" disabled> Search </button>

        <div class="sub-form-seperator" />


          <h4>By Payment ID</h4>
          <input type="text" id="transactionPaymentID" name="transactionPaymentID">
          <br>
          <br>
          <button value="Submit" style="margin-bottom: 1%;" onclick="onClickSearchByPayID()"> Search </button> 

        <div class="sub-form-seperator" />

          <h4> Search Results </h4>

            <table class="query-output-table">

              <thead>
                <tr>
                  <th>Transaction ID</th>
                  <th>Order ID</th>
                  <th>Pay Method ID</th>
                  <th>Total Charged</th>
                  <th>Datetime Charged</th>
                </tr>
              
              <tbody>
                {{#each transactions}}
                <tr> 
                  <td> {{transaction_id}} </td>
                  <td> {{order_id}} </td>
                  <td> {{pay_method_id}} </td> 
                  <td> {{transaction_amount}} </td>
                  <td> {{datetime_charged}} </td>
                </tr>
                {{/each}}
              </tbody>
            </table>

      </div>

</html>