<html>
      <h2> Transactions </h2>

      <h3> View Transaction(s)</h3>

      <div class="form-wrapper">
        <form class="search-by-form">
          <h4>By Transaction ID</h4>
          <input type="text" id="search-transaction-id" name="search-transaction-id">
          <br>
          <br>
          <input type="submit" value="Submit">
        </form>

        <div class="sub-form-seperator" />

        <form class="search-by-form">
          <h4>By Payment ID</h4>
          <input type="text" id="search-transaction-pay-id" name="search-transaction-pay-id">
          <br>
          <br>
          <input type="submit" value="Submit">
        </form>

        <div class="sub-form-seperator" />

          <h4> Search Results </h4>

            <table class="query-output-table">

              <thead>
                <tr>
                  <th>Transaction ID</th>
                  <th>Order ID</th>
                  <th>Pay Method ID</th>
                  <th>Total Charged</th>
                  <th>Datetime Charged</th>
                </tr>
              
              <tbody>
                <tr> 
                  <td> {{transaction_id}} </td>
                  <td> {{order_id}} </td>
                  <td> {{pay_method_id}} </td> 
                  <td> {{transaction_amount}} </td>
                  <td> {{datetime_charged}} </td>
                </tr>
              </tbody>
            </table>

      </div>

</html>